<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="https://use.typekit.net/mhk0ubd.css">
  <link rel="icon" type="image/png" href="/images/favicon.png" sizes="64x64,16x16,32x32" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
</head>

<body>
  <nav>
    <ul>
      <li>
        <a href="/">
          <span class="visually-hidden">home</span>
          <svg aria-hidden="true" width="42" height="46" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18 22H1V10L9.5 2L18 10V22Z"
              stroke="currentColor"
              {% if page.url == "/" %}
                fill="currentColor"
              {% endif %}
              stroke-width="2"
            />
          </svg>
        </a>
      </li>

      <div class="nav-sans-home">
        {%- for item in (collections.all | eleventyNavigation) %}
          <li{% if page.url.startsWith(item.url) %} class="active"{% endif %}>
            <a href="{{ item.url | url }}" data-text="{{ item.title }}">{{ item.title }}</a>
          </li>
        {%- endfor %}
      </div>
    </ul>
  </nav>

  <main class="{{ page.url | slug }}">
    {{ content | safe }}
  </main>

  <footer id="footer">
    ©2021 by Lara Aydın. All image rights are my own and cannot be used without consent.
  </footer>

  <script src="/js/iframe-loader.js"></script>
  <script src="/js/locale-timestamps.js"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://unpkg.com/imagesloaded@4.1.4/imagesloaded.pkgd.min.js"></script>
  <script src="/js/masonry.js"></script>
</body>
</html>
