main.bookshelf {
  flex: initial;
}

.bookshelf h3 {
  margin-block: 2em;
}

.bookshelf ul {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: var(--breathing-room);
  padding: 0;
}

.bookshelf li {
  display: contents;
}

.bookshelf .status {
  text-align: end;
}

.bookshelf .title {
  font-weight: bold;
}

@media (max-width: 900px) {
  .bookshelf .status {
    display: none;
  }

  .bookshelf ul {
    padding-inline-start: 0;
  }
}
