@import "reset.css";
@import "blog.css";
@import "bookshelf.css";
@import "music.css";

:root {
  --foreground: black;
  --background: white;
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #eee;
    --background: rgb(43, 43, 43);
  }
}

body {
  --site-spacing: 4em;

  background: var(--background);
  color: var(--foreground);

  font-family: system-ui;

  display: flex;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

body > * {
  padding-block-start: calc(var(--site-spacing) * 1.5);
  padding-block-end: calc(var(--site-spacing) * 1.5);
}

body > main {
  flex: 1 0 0;
  padding-inline-end: var(--site-spacing);
  margin-block-start: 4em;
  margin-inline-start: 6em;
}

body > nav {
  position: sticky;
  top: 0px;
  padding-inline-start: var(--site-spacing);
  padding-inline-end: var(--site-spacing);
}

body > nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body > nav a {
  --spacing: 0.6em;

  text-decoration: none;
  color: inherit;
  display: block;
  padding-block-start: var(--spacing);
  padding-block-end: var(--spacing);
}

body nav .active a {
  font-weight: 800;
}

main > * + * {
  margin-block-start: 2em;
}

main p {
  line-height: 1.6;
}

main a {
  color: inherit;
}
