@import "reset.css";
@import "index.css";
@import "blog.css";
@import "bookshelf.css";
@import "music.css";

:root {
  --foreground: black;
  --background: white;
  --theme-color: rgb(170, 142, 214);
  --breathing-room: 2em;
  font-size: 18px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #eee;
    --background: rgb(43, 43, 43);
  }
}

body {
  --site-spacing: 4em;

  background: var(--background);
  color: var(--foreground);

  font-family: system-ui;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
}

body > nav a {
  --spacing: 0.6em;

  text-decoration: none;
  color: inherit;
  display: block;
  padding-block-start: var(--spacing);
  padding-block-end: var(--spacing);
}

main > * + * {
  margin-block-start: 2em;
}

main p {
  line-height: 1.6;
}

main a {
  text-decoration: none;
  color: var(--theme-color);
  font-weight: bold;
}

body {
  max-width: 800px;
}

body > main {
  flex: 1 0 0;
  margin-block-start: 4em;
  max-width: 48em;
}

body > nav {
  position: sticky;
  top: 0px;
  background: rgba(43, 43, 43, 0.9);
  backdrop-filter: blur(3px);
  z-index: 1;
}

body > nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-inline-start: calc(var(--breathing-room) / -2);
}

body > nav a {
  padding-block-start: var(--breathing-room);
  padding-block-end: var(--breathing-room);
  padding-inline-start: calc(var(--breathing-room) / 2);
  padding-inline-end: calc(var(--breathing-room) / 2);
}

body > nav a {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

body > nav a::after {
  content: attr(data-text);
  content: attr(data-text) / "";
  height: 0;
  overflow: hidden;
  user-select: none;
  pointer-events: none;
  font-weight: 800;
  display: block;
}

body > nav li.active a {
  font-weight: bold;
}

@media (max-width: 900px) {
  :root {
    font-size: 14px;
  }

  body {
    --site-spacing: 2em;

    display: block;
  }

  body > main {
    margin-block-start: unset;
    padding-inline-start: var(--site-spacing);
  }

  body > nav {
    background-color: var(--background);
    z-index: 1;
    padding-block-start: 1em;
    padding-block-end: 1em;
    margin-top: 2em;
  }

  body > nav ul {
    display: flex;
    align-items: center;
  }

  body > nav ul > * + * {
    margin-inline-start: 2em;
  }
}
