.spotify-embed {
  margin: 0 auto;
  display: flex;
}

.spotify-embed > * {
  flex: 1 0 0;
  height: 50vh;
  border-radius: 0.2em;
  overflow: hidden;
  background: rgba(134, 134, 134, 0.164);
}

.spotify-embed iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.001;
  transition: opacity 0.3s ease;
}

.spotify-embed iframe.loaded {
  opacity: 1;
}

.spotify-embed > * + * {
  margin-inline-start: 1em;
}

@media (max-width: 900px) {
  .spotify-embed {
    display: block;
  }

  .spotify-embed > * {
    height: 30em;
    margin: 0;
    margin-block-end: 1em;
  }
}
