---
layout: site.njk
title: Lara Aydın
---
<div class="blog">
  {% for blogPost in collections.posts %}
    <article>
      <h2><a href="{{ blogPost.url }}">{{ blogPost.data.title }}</a></h2>
      <time datetime="{{ blogPost.date.toISOString() }}">{{ blogPost.date | formatDate("yyyy-MM-dd") }}</time>

      <div class="excerpt">
        {% excerpt blogPost %}
      </div>
    </article>
  {% endfor %}
</div>
