---
layout: site.njk
title: Dilara Aydin
eleventyNavigation:
  key: Blog
  order: 1
---

<h1>Blog posts</h1>

{% for blogPost in collections.posts %}
<article>
  <a href="{{ blogPost.url }}">{{ blogPost.data.title }}</a>
</article>
{% endfor %}