---
layout: site.njk
title: Dilara Aydin
eleventyNavigation:
  key: bookshelf
  order: 2
---

<div class="bookshelf">
  {% for group in books | groupby("year") | list | reverse %}
    <h3>{{ group.key }}</h3>
    <ul>
    {% for book in group.value %}
        <li>
          <p class="status">{{ book.status }}</p>  
          <p><span class="title">{{ book.title }}</span> by {{ book.author }}</p>
        </li>
    {% endfor %}
    </ul>
  {% endfor %}
</div>