---
layout: site.njk
title: Lara Aydın
---

<div class="spotify-embed">
  <div class="loader">
    <iframe src="https://open.spotify.com/embed/playlist/4ZnsG8ffpzwbiQKaP4ya4E" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
    <div class="loader">
    <iframe src="https://open.spotify.com/embed/playlist/6vdMrmYAAU1Oq3kCo9fDZP" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
    <div class="loader">
    <iframe src="https://open.spotify.com/embed/playlist/3ZYk1qW130fZeqZvUSU1O2" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
  </div>
</div>
