---
layout: site.njk
title: Lara Aydın
eleventyNavigation:
  key: photography
  order: 3
---

<div class="photography masonry">
  {% for photo in collections.photos %}
    <img class="grid-item" src="{{ photo.data.image }}" alt="{{ photo.data.alt }}"/>
  {% endfor %}
</div>
