---
layout: site.njk
title: Lara Aydın
eleventyNavigation:
  key: photography
  order: 3
---
<div class="photography">
  {% for photo in collections.photos %}
    <img src="{{ photo.data.image }}" alt="{{ photo.data.alt }}"/>
  {% endfor %}
</div>
